<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <div id="home">
    	<div>
        		<h1>Final Test</h1>
                <h3><a href="./register">Register</a></h2>
                <h3><a href="./signin">Sign In</a></h2>
                <h1>Student Honor Pledge</h1>
                <p>I acknowledge Seneca College academic integrity policy.</p>
                <p>On my honor, I have neither given nor received unauthorized aid on this academic work.</p>
                <p>Name: <strong><mark>Ben Akram</mark></strong> </p>
                <p>Student Number: <strong><mark>158523217</mark></strong> </p>
    	</div>
    </div>
  </body>
</html>