<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Sign In</title>
  </head>
  <body>
    <div id="sign_in">
    	<div>
        		<h1>Sign In</h1>
                <form action="./signin.html" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    <br/>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    <br/>
                    <input type="submit" value="Sing In">
                    <input type="reset" value="Reset">
                </form>
                <h2><a href="/">Go Home</a></h2>
                
    	</div>
    </div>
  </body>
</html>